.table-filter {
    margin-bottom: 20px;
}

th[data-sort] span {
    cursor: pointer;
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
}

th[data-sort] span:hover {
    color: #9bf1ff !important;
}

span.tag {
    color: #9bf1ff !important;
    margin-right: 10px;
    border-bottom: dotted 1px;
}

span.hint {
    opacity: .5;
}

.field-validation-error, .validation-summary-errors {
    color: orange;
    opacity: .75;
}

.field-validation-error {
    display: block;
}

.validation-summary-errors ul {
    border: 1px #ffa50052 solid;
    list-style: none;
    padding:10px 0 10px 0;
}

.card {
    border: 1px #c0c0c09e solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.card:hover {
    border: 1px #9bf1ff solid;
}

.card-header {
    text-align:center;
}

.card-body {
    text-align:center;
}

div.message {
    padding: 20px 0 20px 0;
    background-color: #026688;
    margin-left: 0;
    margin-bottom: 25px;
}

.json-import {
    height: 700px;
}

.sample-link {
    cursor: pointer;
}
