@page
@using System.Security.Claims
@model Clippy.Pages.Admin.Index

<div id="main">

    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>Admin</h1>
            </header>
            <p>Welcome @User.Identity.Name!</p>
            <ul class="alt">
                <li><a asp-page="Resources/Index">View Resources</a></li>
            </ul>
        </div>
    </section>

</div>
