@page
@model Clippy.Pages.Bookmarks.EditModel
@{
    ViewData["Title"] = "Edit Bookmarks";
}

@* styles *@
    <link rel="stylesheet" href="/css/bookmarks.css" />

<div class="body">
<section class="options">
    <ul>
        <li><img src="../images/resources/BookmarkIcon.png"><a asp-page="Manage">Manage Bookmarks</a></li>
    </ul>

</section>

<section class="content-add">
        <form method="post">
            <div asp-validation-summary="All"></div>
                <label class="labels" asp-for="Bookmark.Location">Location</label>
                <input class="input-text" type="text" placeholder="Location of the bookmark..." asp-for="Bookmark.Location" disabled>

                <label class="labels" for="title">Title</label>
                <input class="input-text" type="text" id="title" placeholder="Title of the bookmark..." asp-for="Bookmark.Title">
                <span asp-validation-for="Bookmark.Title"></span>

                <label class="labels" for="description">Description</label>
                <textarea class="description" id="description" placeholder="Description of the bookmark..." asp-for="Bookmark.Description"></textarea>
                <span asp-validation-for="Bookmark.Description"></span>

                <label class="labels" for="tags">Tags</label>
                <input class="input-text" type="text" id="tags" placeholder="Tags for the bookmark..." asp-for="Bookmark.Tags" autocomplete="off">
                <span asp-validation-for="Bookmark.Tags"></span>

                <div>
                    <label class="labels" asp-for="Bookmark.IsPublic">Public</label>
                    <input type="checkbox" asp-for="Bookmark.IsPublic">
                    <span asp-validation-for="Bookmark.IsPublic"></span>
                </div>

                <div>
                    <label class="labels" asp-for="Bookmark.Favorited">Favorite</label>
                    <input type="checkbox" asp-for="Bookmark.Favorited">
                    <span asp-validation-for="Bookmark.Favorited"></span>
                </div>

                <input class="button" type="submit" value="Save">
                <button asp-page-handler="Delete" asp-route-id="@Model.Bookmark.Id" onclick="return confirm('Are you sure you want to delete?')" class="button">Delete</button>
                <a asp-page="@Model.ReturnPage">Back</a>
        </form>
    </section>
</div>
