@page
@model Clippy.Pages.Bookmarks.ManageModel
@{
    ViewData["Title"] = "Bookmarks";
}

@* styles *@
    <link rel="stylesheet" href="/css/bookmarks.css" />
    
<div class="body">
<section class="options">
    <ul>
        <li><img src="../images/resources/BookmarkIcon.png"><a asp-page="Manage">Manage Bookmarks</a></li>
    </ul>

</section>
    
<section class="content-edit">

</section>
</div>