@page
@model Clippy.Pages.Following.IndexModel
@{
    ViewData["Title"] = "Following";
}

<link rel="stylesheet" href="/css/following.css" />

<div class="body">
<section class="title">
Your Community
</section>

<div class="searchbar-container">
    <input class="following-searchbar" type="text"></input>
</div>
<div class="buttons-container">
    <button class="followers">Followers</button>
    <button class="following">Following</button>
</div>

@* FIX THIS TO WORK WITH FOLLOWING FUNCTIONAILITY! *@
<section class="content">
    @foreach (var user in Model.ThisUser.Subscriptions) {
        <div class="following-item">
            <div class="image" style= "background-image: url('@user.AvatarUrl')"></div>
            <a asp-page="/Profile/Index" asp-route-id="@user.Id">
                <div class="person-name">
                    @user.Name
                </div> 
            </a>
            <button>Unfollow</button>
        </div>
    }
</section>


</div>