@page
@model Clippy.Pages.Explore.IndexModel
@{
    ViewData["Title"] = "Following";
}

<link rel="stylesheet" href="/css/following.css" />

<div class="body">
<section class="title">
Your Community
</section>
<section class="searchbar-buttons">
<input type="text"></input>
<button>Followers</button>
<button>Following</button>
</section>
<section class="content">

</section>

</div>