.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  background-color: white;
  height: 60px;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.ClippyLogo.MuiTypography-root {
  scale: 65%;
}

.Links {
  padding: 0px 12px;
}

.About.MuiTypography-root {
  color: rgba(0, 0, 0, 0.8);
  padding: 0px 12px;
  transition: 0.3s;
}

.About.MuiTypography-root:hover {
  color: black;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
