.bg-image {
    background-image: url(../assets/clip-front-page.jpg);
    height: 80vh !important;

    background-position: center;
    background-size: cover;


    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-position {
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
}