.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__left > img {
  height: 40px;
}

.header__left .header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header__left .header__input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

@media (max-width: 600px) {
  .header__left .header__input {
    display: none;
  }
}

.header__right .header__option {
  margin-left: 15px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
