@page
@model Clippy.Pages.IndexModel
@{
    ViewData["Title"] = "Developer";
}

<head>
    @* styles *@
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/developers.css">

    @* icons *@
    <script src="https://kit.fontawesome.com/af82b590e2.js" crossorigin="anonymous"></script>
</head>

<div>
    <div id="navbar">
        <a href="/" class="clippy-logo"><img src="/images/resources/logo.png"></a>
        <div id="about-link">
            <a href="#about-jump">
                About
            </a>
        </div>
    </div>
    <div class="page-content">
        <section class="title">
            <p>Meet The Developers</p>
            <p>-</p>
        </section>
        <div class="card-field">
            <section class="developer-card">
                <div class="info">
                    <div class="picture-diego"></div>
                    <a class="github-link" href="https://github.com/diegoro1">
                        <div class="name">Diego Rodrigues</div>
                    </a>
                    <div class="dev-title">Software Engineer</div>
                    <div class="description">
                        <p>Passionate about using both computer science and mathematics to develop designs with the best
                            toolset possible. Constantly looking to learn new technologies in order to better efficiency
                            and delivery of projects while amplifying my leadership and personal skills. </p>
                    </div>
                    <div class="icons">
                        <a href="https://www.instagram.com/thediegorodrigues/">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                        <a href="https://www.facebook.com/diego.rodrigues.33671/">
                            <i class="fab fa-facebook-square fa-lg"></i>
                        </a>
                        <a href="https://github.com/diegoro1">
                            <i class="fab fa-github fa-lg"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/rodrigues-diego/">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </a>
                    </div>
                </div>
            </section>
            <section class="developer-card">
                <div class="info">
                    <div class="picture-josh"></div>
                    <a class="github-link" href="https://github.com/diegoro1">
                        <div class="name">Joshua Frazer</div>
                    </a>
                    <div class="dev-title">Computer Engineer</div>
                    <div class="description">
                        <p> Currently a senior at the University of Central Florida pursuing a bachelor's degree in
                            Computer Engineering.
                            Constantly looking for new opportunities to further advance my knowledge on the growing
                            world of technology.
                        </p>
                    </div>
                    <div class="icons">
                        <a href="https://www.instagram.com/frazer_josh/">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                        <a href="https://www.facebook.com/Xl.Joshie.lX">
                            <i class="fab fa-facebook-square fa-lg"></i>
                        </a>
                        <a href="https://github.com/BlackOutDevelops">
                            <i class="fab fa-github fa-lg"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/joshua-frazer/">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </a>
                    </div>
            </section>
            <section class="developer-card">
                <div class="info">
                    <div class="picture-jerrett"></div>
                    <a class="github-link" href="https://github.com/jerrettl">
                        <div class="name">Jerrett Longworth</div>
                    </a>
                    <div class="dev-title">Clippy Expert</div>
                    <div class="description">
                        <p>An absolute expert of computers. Knows how to use Google and has single-handedly defeated a
                            wizard in a battle of skill.</p>
                    </div>
                    <div class="icons">
                        <a href="https://instagram.com/billnyethetubaguy"><i class="fab fa-instagram fa-lg"></i></a>
                        <a href="https://github.com/jerrettl"><i class="fab fa-github fa-lg"></i></a>
                        <a href="https://www.linkedin.com/in/jerrett-l-17050a155/"><i
                                class="fab fa-linkedin fa-lg"></i></a>
                    </div>
                </div>
            </section>
            <section class="developer-card">
                <div class="info">
                    <div class="picture-jaerom"></div>
                    <a class="github-link" href="https://github.com/jaerom">
                        <div class="name">Jaeivan Romero</div>
                    </a>
                    <div class="dev-title">Professional Student</div>
                    <div class="description">
                        <p>I am a student, by trade. I also like long walks on the beach and equally long nights
                            Clippying.</p>
                    </div>
                    <div class="icons">
                        <a href="https://github.com/jaerom"><i class="fab fa-github fa-lg"></i></a>
                        <a href="https://www.linkedin.com/in/jaeivan-romero-456b08184/"><i
                                class="fab fa-linkedin fa-lg"></i></a>
                        <a href="https://twitter.com/jaeivanromero"><i class="fab fa-twitter fa-lg"></i></a>
                    </div>
                </div>
            </section>
            <section class="developer-card">
                <div class="info">
                    <div class="picture-jordyn"></div>
                    <a class="github-link" href="https://github.com/jordynhayden">
                        <div class="name">Jordyn Hayden</div>
                    </a>
                    <div class="dev-title">Admin Engineer</div>
                    <div class="description">
                        <p>Description here.</p>
                    </div>
                    <div class="icons">
                        <i class="fab fa-instagram fa-lg"></i>
                        <i class="fab fa-facebook-square fa-lg"></i>
                        <i class="fab fa-github fa-lg"></i>
                        <i class="fab fa-pinterest fa-lg"></i>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
