@page
@model Clippy.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied - Clippy";
    Layout = "_ErrorLayout";
}

<div>
    <div id="page-content">
        <div>
            <div>
                <h1 class="error-page-title">403: Access Denied!</h1>
            </div>
        </div>
    </div>
</div>
