@page
@model Clippy.Pages.NotFoundModel
@{
    ViewData["Title"] = "Resource Not Found - Clippy";
    Layout = "_ErrorLayout";
}

<div>
    <div id="page-content">
        <div>
            <div>
                <h1 class="error-page-title">404: Resource Not Found</h1>
            </div>
        </div>
    </div>
</div>
