@page
@model Clippy.Pages.Admin.Users.AddModel
@{
    ViewData["Title"] = "Add User";
}

<div id="main">

    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>Add User</h1>
            </header>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="fields">
                    <div class="field">
                        <label for="username">Username *</label>
                        <input type="text" asp-for="UserEntity.Username" />
                        <span asp-validation-for="UserEntity.Username"></span>
                    </div>
                    <div class="field">
                        <label for="name">Name *</label>
                        <input type="text" asp-for="UserEntity.Name" />
                        <span asp-validation-for="UserEntity.Name"></span>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Add User" class="primary" /></li>
                    <li><a asp-page="Index" class="button">Back</a></li>
                </ul>
            </form>
        </div>
    </section>

</div>
