@page
@model Clippy.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="card">
        <h3>Product Vision</h3>
        <p>For internet users who find themselves having a difficult time organizing and discovering resources on the Web that sparks their interest, 
        we introduce Clippy. Clippy is a social bookmarking service designed for users to explore and manage resources on the Internet. Users can immerse 
        themselves in their own distraction-free space curated by them or explore resources gathered by others in the community. Unlike many other social 
        bookmarking services, such as Pocket, Clippy is currently open source for anyone to adapt or use for themselves.</p>
    </div>
    <div class="card">
        <h3>Team Members</h3>
        <ul class="github-list">
            <li><a href="https://github.com/BlackOutDevelops"><button>Joshua Frazer (@@BlackOutDevelops)</button></a></li>
            <li><a href="https://github.com/jordynhayden"><button>Jordyn Hayden (@@jordynhayden)</button></a></li>
            <li><a href="https://github.com/jerrettl"><button>Jerrett Longworth (@@jerrettl)</button></a></li>
            <li><a href="https://github.com/diegoro1"><button>Diego Rodrigues (@@diegoro1)</button></a></li>
            <li><a href="https://github.com/jaerom"><button>Jaeivan Romero (@@jaerom)</button></a></li>
        </ul>
    </div>
    <div class="card">
        <h3>Source Code</h3>
        <p>Clippy is open source! Feel free to check out the source code for our entire project at our GitHub.</p>
        <div class="source-code-button">
        <a href="https://github.com/Clippy5/Clippy"><button>Source Code</button></a>
        </div>
    </div>
</div>