@page
@model Clippy.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    @* styles *@
    <link rel="stylesheet" href="/css/home.css" />

    @* icons *@
    <script src="https://kit.fontawesome.com/af82b590e2.js" crossorigin="anonymous"></script>
</head>

<div>
    <div id="navbar">
        <a href="/" class="clippy-logo"><img src="/images/resources/logo.png"></a>
        <div id="about-link">
            <a href="#about-jump">
                About
            </a>
        </div>
    </div>

    <div id="page-content">
        <div class="login-content">
            <div class="login-text">
                <p>The source for all</p>
                <p> your needed bookmarks</p>
            </div>
            <div>
                <a href="Bookmarks">
                    <button class="github-button">
                        <img class="github-icon" src="/images/github/icon.png" />
                        <p>Sign in with GitHub</p>
                    </button>
                </a>
            </div>
            <div id="terms-text">
                <p>By signing up, you agree to Clippy's <a id="terms" href="/">Terms of Service</a>
                </p>and Privacy Policy.
            </div>
        </div>
    </div>
</div>

<div class="about" id="about-jump">
    <div class="info-text">
        <p id="info-title">The site where anything and everything can happen.</p> You see something you like? Clip it.
        You want something to share with friends or family? Clip it. You're addicted to Clippy and don't know what else
        to do? Clip it. Welcome to what you've been missing your entire life!
    </div>
    <img src="/images/resources/computer&pixel.png" class="info-img">
</div>

<div class="about" id="light-about">
    <img src="/images/resources/computer&pixel2.png" class="info-img info-img-right">
    <div class="info-text">
        <p id="info-title">Unlike any other social
            bookmarking services.</p>
        The social bookmarking service designed for users to explore and manage
        resources on the Internet. Users can immerse
        themselves in their own distraction-free space curated by them or explore resources gathered by others in the
        community.
    </div>
</div>

<div id="sign-in-bottom">
    <div>
        <div class="login-content">
            <div class="login-text">
                <p>Join the Clippy community!</p>
            </div>
            <div>
                <a href="Bookmarks">
                    <button class="github-button">
                        <img class="github-icon" src="/images/github/icon.png" />
                        <p>Sign in with GitHub</p>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="footer-links">
        <a href="Developers">Developers</a>
        <a href="/">Terms of Service</a>
        <a href="/">Privacy</a>
    </div>
    <div><a href="https://github.com/Clippy5/Clippy"><i class="fab fa-github" id="gh-footer-icon"></i></a></div>
    <div id="copyright">© 2021 Clippy, Inc</div>
</div>
