<!DOCTYPE HTML>
<html>
	<head>
		<title>@ViewData["Title"] - Clippy API</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/home/css/main.css" />
		<noscript><link rel="stylesheet" href="/home/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="/" class="logo"><strong>Clippy API</strong> <span>by Clippy5</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
                        <ul class="links">
                            <li><a href="/">Home</a></li>
                            <li><a href="/swagger/index.html">Explore API</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
							<li><a href="/account/signout">Logout</a></li>
							}
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="/admin" class="button fit">Dashboard</a></li>
                        </ul>
					</nav>

					@RenderSection("Banner", false)
					@RenderBody()

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Clippy API</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/home/js/jquery.min.js"></script>
			<script src="/home/js/jquery.scrolly.min.js"></script>
			<script src="/home/js/jquery.scrollex.min.js"></script>
			<script src="/home/js/browser.min.js"></script>
			<script src="/home/js/breakpoints.min.js"></script>
			<script src="/home/js/util.js"></script>
			<script src="/home/js/main.js"></script>

	</body>
</html>
