<!DOCTYPE HTML>
<html>
    <head>
        <title>@ViewData["Title"] - Clippy</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
        @if (!ViewData["Title"].Equals("Home"))
        {
            <div id="navbar">
                <a href="/" class="clippy-logo"><img src="/images/resources/logo.png"></a>
                <a asp-page="Explore" class="nav-links">Explore</a>
                <a asp-page="Following" class="nav-links">Following</a>
                <form class="searchbar">
                    <input class="search" type="text" name="search-term" placeholder="Search" required>
                </form>
                <img src="/images/resources/add.png" class="add-icon">
                <img src="@Model.AvatarUrl" class="avatar" alt="Randy Rando">
            </div>
        }
        @RenderBody()
    </body>
</html>
