<!DOCTYPE HTML>
<html>
    <head>
        <title>@ViewData["Title"] - Clippy</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
