@page
@model Clippy.Pages.Notifications.IndexModel
@{
    ViewData["Title"] = "Notifications";
}

<link rel="stylesheet" href="/css/notifications.css" />

<div class="body">
    <div class="title">Your Notifications</div>
    <div class="content">
        @foreach(var notification in Model.Notifications) {
            <div class="notifications-item">
                    <div class="image" style= "background-image: url('@notification.User.AvatarUrl')"></div>
                <div class="text-from-db">
                    @notification.Text
                </div>
            </div>
        }
    </div>
</div>