.NavBar.MuiPaper-root {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a.ClippyLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ClippyLogo {
  scale: 65%
}

.MenuIcon {
  color: black;
}

.Explore {
  margin: 0px 15px;
  text-decoration: none;
}

.Explore:hover {
  margin: 0px 15px;
  color:rgba(0, 0, 0, 0.30);
  text-decoration: none;
}

.Following {
  margin: 0px 15px;
  text-decoration: none;
}

.Following:hover {
  margin: 0px 15px;
  color:rgba(0, 0, 0, 0.30);
  text-decoration: none;
}

.SearchBar.MuiInputBase-root {
  background-color: rgba(0, 0, 0, 0.10);
  margin: 0px 20px;
  padding-left: 10px;
  width: 100%;
  border-radius: 30px;
}

.SearchIcon.MuiSvgIcon-root {
  color: black;
}

.AddIcon.MuiSvgIcon-root {
  color: black;
  border-radius: 30px;
  scale: 120%;
}

.AddIcon.MuiSvgIcon-root:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.10);
  transition: ease-out;
  transition-duration: 1s;
  border-radius: 30px;
  scale: 120%;
}

.Avatar.MuiAvatar-root {
  scale: 120%;
  margin: 0px 20px;
}