@page
@model Clippy.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Profile";
}

@* <div class="header-explore">
    <h3>Explore the Clippy Community</h3>
</div> *@

<div class="card-zone">
    hi
</div>
