@page
@model Clippy.Pages.Admin.Resources.ImportModel
@{
    ViewData["Title"] = "Import Resources";
}

<div id="main">

    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>Import Resources</h1>
            </header>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="fields">
                    <div class="field">
                        <label for="name">JSON (<a id="addSample" class="sample-link">View Sample</a>)</label>
                        <textarea asp-for="Json" class="json-import"></textarea>
                        <span class="hint">Enter a JSON array of resources.</span>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Import Resources" class="primary" /></li>
                    <li><a asp-page="Index" class="button">Back</a></li>
                </ul>
            </form>
        </div>
    </section>

</div>

@section Scripts {
<script>
    $(function() {
        $("#addSample").click(function() {
            $("#Json").text("[\n  {\n    \"Location\": \"https://www.amazon.com\",\n    \"Metadata\": {\n      \"Title\": \"Amazon\",\n      \"MediaType\": \"text/html\",\n      \"ImageURL\": \"amazon.jpg\",\n      \"Description\": \"Popular online shopping site.\"\n    }\n  },\n  {\n    \"Location\": \"https://www.ucf.edu\",\n    \"Metadata\": {\n      \"Title\": \"University of Central Florida\",\n      \"MediaType\": \"text/html\",\n      \"ImageURL\": \"ucf.jpg\",\n      \"Description\": \"Go Knights!\"\n    }\n  }\n]");
        })
    });
</script>
}
