.bg-image {
  background-image: url(../../assets/clip-front-page.jpg);
  height: 80vh !important;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 25px 50px;
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 15px;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.05);
}

.container__quote {
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 3rem;
  text-align: center;

}

.signin__github {
  display: flex;
  justify-content: center;
}

.container__link {
  text-decoration: none;
  color: white;
}

.container__link:hover {
  color: black;
}

.signin__github {
  width: 100%;
  background-color: black;
  border-radius: 30px;
  transition: 0.3s;
}

.signin__github:hover {
  background-color: white;
}

.signin__github .MuiButton-label {
  color: white;
  transition: 0.3s;
}

.signin__github .MuiButton-label:hover {
  color: black;
}

.signin__github .git-icon {
  padding-right: 10px;
}
