a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 18px;
}

.text-dark {
  color: #6CC7AA !important;
  font-weight: bold;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.05);
}

.background-color-primary {
  background-color: rgb(255, 255, 255);
  margin: 0 !important;
}

.search-alignment {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
}

.search-border {
  border-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

.search-background {
  background-color: rgba(0, 0, 0, 0.05);
}

.search-size {
  width:20vmax;
}