/* ------------------ Bookmarks layout styles ------------------ */

.content-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.card-link {
  color: #000;
  text-decoration: none;
}

.card-main {
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
  width: var(--card-width);
  overflow-wrap: anywhere;
}

.card-main h3 {
  margin-bottom: 6px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-main a {
  display: block;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-main p {
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-main ul li {
  margin-left: 15px;
}

.card-container {
  text-align: center;
}

/* ------------------ Bookmarks/Manage styles ------------------ */

.body {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

.content-manage {
  -webkit-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
  padding: 10px 0px 0px 10px;
  padding-right: 24px;
  overflow-y: scroll;
  text-align: center;
}

/* ------------------ Bookmarks sidebar styles ------------------ */

.options {
  min-width: 300px;
  width: 300px;
  box-shadow: 1px 20px 0px 0px rgba(0, 0, 0, 0.3);
}

.manage-option, .manage-option h3 img {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  transition: all 0.2s ease;
}

.manage-option:hover {
  color: rgba(0, 0, 0, 0.6);
}

.manage-option h3 img {
  width: 15px;
  padding-right: 6px;
  vertical-align: text-bottom;
}

.manage-option h3 img:hover {
  opacity: 0.6;
}

/* ------------------ Bookmarks/Add styles ------------------ */

.input-text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    font-size: 14px;
}

.select-user {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    font-size: 14px;
}

.description {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding: 10px 0px 0px 10px;
    border: 0;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    resize: vertical;
}

.labels {
    margin-left: 15px;
}

.button {
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(177, 255, 223);
    margin: 15px 15px 0px 0px;
    font-size: 14px;
    border: 1px solid black;
    transition-duration: .2s;
}

.button:hover {
    background-color: rgb(117, 241, 217);
}

.content-add form a {
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(177, 255, 223);
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    border: 1px solid black;
    transition-duration: .2s;
}

.content-add form a:hover {
  background-color: rgb(117, 241, 217);
}

.content-add form {
  margin: auto;
  width: 60%;
}

.content-add {
  height: 100%;
  width: 100%;
  align-content: center;
}

a {
  text-decoration: none;
  color: #000;
}

.card a {
  margin: 0;
}

.title-icon-container {
  margin: 0 0 0 8px;
}