/* ------------------ Bookmarks layout styles ------------------ */

.body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.content-main {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 400px) {
  .content-manage {
    columns: 1;
  }
}

@media (min-width: 600px) {
  .content-manage {
    columns: 2;
  }
}

@media (min-width: 800px) {
  .content-manage {
    columns: 3;
  }
}

@media (min-width: 1200px) {
  .content-manage {
    columns: 4;
  }
}

@media (min-width: 1600px) {
  .content-manage {
    columns: 5;
  }
}

.content-manage {
  width: 100%;
  column-gap: 30px;
  margin: 10px auto;
  align-items: center;
  padding: 0px 40px 0px 10px;
  overflow: scroll;
}

.options {
  display: block;
  height: 100%;
  min-width: 300px;
  box-shadow: 1px 20px 0px 0px rgba(0, 0, 0, 0.3);
}

.header {
  font-size: 20px;
  width: 100%;
  height: 40px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

.card-main {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  width: 50%;
  overflow: hidden;
}

.card-main h3 {
  margin-bottom: 6px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-main a {
  display: block;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-main p {
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-main ul li {
  margin-left: 15px;
}

.card {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  width: 100%;
  overflow: hidden;
}

.card:nth-child(1) {
  margin-top: 0;
}

.card h3 {
  margin-bottom: 6px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card a {
  display: block;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------------ Bookmarks options styles ------------------ */

.options ul {
  list-style-type: none;
}

.options ul li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: all 0.2s ease;
  
}

.options ul li a:hover {
  color: rgba(0, 0, 0, 1);
}

.options ul li {
  margin: 15px 5px 0px 20px;
}

.options ul li img {
  width: 15px;
  margin: 0px 5px;
  vertical-align: top;
}

/* ------------------ Bookmarks content styles ------------------ */

.input-text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    font-size: 14px;
}

.select-user {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    font-size: 14px;
}

/* .description {
    display: block;
    box-sizing: border-box;
    width: 60%;
    height: 200px;
    border-radius: 15px;
    padding: 10px 0px 0px 10px;
    border: 0;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    resize: vertical;
} */

.labels {
    margin-left: 15px;
}

.button {
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(177, 255, 223);
    margin: 15px 15px 0px 0px;
    font-size: 14px;
}

.button:hover {
    background-color: rgb(50, 206, 175);
    transition: ease-in;
    transition-duration: .5s;
}

.content-add form a {
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(177, 255, 223);
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

.content-add form {
  width: 1000px;
  margin: auto;
}

.content-add {
  height: 100%;
  width: 100%;
  align-content: center;
}