.content-explore {
  justify-content: center;
  margin: 30px auto 0 auto;
  height: 100%;
  column-gap: 30px;
  border: none;
  text-align: center;
  max-width: 1200px;
}

.header {
  font-size: 20px;
  width: 100%;
  height: 40px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

.content-explore .card-link {
  text-decoration: none;
  color: black;
}

.content-explore .card:hover {
  opacity: 0.7;
}

.content-explore .card {
  margin: 10px;
  vertical-align: top;
}

.content-explore .card .card-photo-container {
  height: 160px;
  margin-bottom: 15px;
}

.content-explore .card .card-body {
  height: 180px;
  overflow: hidden;
  position: relative;
}

.content-explore .card .card-body .date-description-container {
  margin-bottom: 30px;
}

.content-explore .card .card-body .tags {
  position: absolute;
  left: -5px;
  bottom: 50px;
}

.content-explore .card .card-body .tags .tag {
  border: none;
  color: black;
}

.content-explore .card .card-body .author-location-container {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
