@media screen and (max-width: 0px) {
  .content-explore {
    columns: 1;
  }
}

.content-explore {
  width: 90vw;
  height: auto;
  margin: 10px auto;
  justify-content: center;
  margin: 30px auto 0 auto;
  column-gap: 40px;
  height: 100%;
  column-gap: 30px;
  border: none;
  text-align: center;
}

.header {
  font-size: 20px;
  width: 100%;
  height: 40px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

/* .card {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  width: 100%;
  overflow: hidden;
}

.card:nth-child(1) {
  margin-top: 0;
}

.card h3 {
  margin-bottom: 6px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card a {
  display: block;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
} */