.clippy-logo {
  margin-right: auto;
}

#page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
  background-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/resources/clip-front-page.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

#github-button {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 16px;
}

#github-button,
#github-button img {
  transition: 0.14s linear;
}

#github-button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

#github-button:hover img {
  filter: invert(1);
}

#github-button img {
  height: 2em;
}

#github-icon {
  margin-right: 8px;
}

hr {
  border: none;
  background-color: #555;
  color: #555;
  height: 4px;
  margin: 0 32px 64px 32px;
}

.link-button {
  margin-top: 12px;
}

#sign-in-btn {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 16px;
  margin-right: 15px;
}

#about-link {
  margin-right: 20px;
}
#about-link a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}
#about-link a:hover {
  color: rgba(0, 0, 0, 0.3);
}

.about {
  background-color: rgba(0, 0, 0, 0.1);
  height: 500px;
}

.text {
  vertical-align: middle;
  margin: 0px 200px;
}
