* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --primary-color: rgb(110, 198, 170);

  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

/* Large displays */
@media (min-width: 500px) {
  .card {
    width: 468px;
    margin: 16px auto 16px auto;
  }
}

/* Small displays */
@media (max-width: 500px) {
  .card {
    margin: 16px;
  }
}

.card {
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
}

.card h1 {
  margin-bottom: 6px;
}

.card p {
  margin-top: 8px;
}

.github-list li {
  list-style-type: none;
}

.github-list li a button {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0);
  text-align: left;
  margin: 5px 0;
}

.github-list li a button:hover {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.05);
  text-align: left;
}

.github-list li a {
  text-decoration: none;
}

.link-button a button {
  border-radius: 3px;
  padding: 0 8px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  border-color: rgba(0, 0, 0, 0.35);
}

.link-button a button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.6);
}

/*----------------Navbar Styles----------------*/

#navbar {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.clippy-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scale: 65%;
}

.clippy-logo img {
  transform: scale(1);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(1);
  float: left;
}

.nav-link {
  color: black;
  margin: 0px 15px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.3);
}

.searchbar {
  width: 100%;
  margin: 0px 20px;
  padding: 0px 40px 0px 0px;
  outline: none;
}

.search:focus {
  outline: none;
}

.searchbar input {
  font-size: 15px;
  width: 100%;
  height: 35px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("/images/resources/search.png");
  background-position: 5px;
  padding-left: 40px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.mobile-menu {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 780px) {
  .searchbar {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  }
  .nav-links.active {
    background-color: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    margin-left: 0;
  }

  .mobile-menu {
    display: block;
    background-color: white;
    border: none;
    margin-right: 20px;
  }

  .mobile-menu:focus {
    outline: none;
  }

  .clippy-logo {
    margin-right: auto;
  }
}

.search-icon {
  color: black;
  scale: 15%;
}

.add-icon {
  color: black;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.add-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: ease-out;
  transition-duration: 0.3s;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0px 20px;
}
